
<!--<app-home></app-home>
<app-content></app-content>-->
<div class="navbar">
  <ul class="component">
    <li> <a routerLink="/home" routerLinkActive="active" class="home_component">home</a></li>
    <li>  <a routerLink="content" routerLinkActive="active" class="content_component" > content</a></li>
    <li><a routerLink="/login" routerLinkActive="active" class="home_component">login</a></li>
    <li><a routerLink="/contect" routerLinkActive="active" class="contect_component">contect</a></li>
  </ul>

</div>


<router-outlet></router-outlet>