<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<div class="main">
    <h2>anguler</h2>
</div>
    <div>
        <ul class="home">
            <li> <a href="#">home</a></li>
            <li> <a href="#">aboutUs</a></li>
            <li> <a href="#">services</a></li>
            <li> <a href="#">contect</a></li>
        </ul>
    </div>
    <div class="first_ch">
        <div>
            <ul class="ul">
                <li class="li">khyati</li>
                <li class="li">bhavin</li>
                <li class="li">hemal</li>
                <li class="li">harshil</li>
                <li class="li">hardik</li>
            </ul>
        </div>
    </div>
    <div class="n_child">
        <ul class="ul">
            <li class="li">java</li>
            <li class="li">advancejava</li>
            <li class="li">anguler</li>
            <li class="li">python</li>
            <li class="li">c++</li>
            <li class="li">c</li>
        </ul>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nobis doloremque provident impedit enim aliquid, inventore tempore dolores et voluptate.
        </p>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet alias porro sunt eum magnam cupiditate!
        </p>
    </div>
    <div></div>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, neque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, ipsum omnis sequi ex aperiam sit!</p>
    </div>
    <div class="only_child">
        <ul class="ul">
            <li class="li">only child</li>
        </ul>
    </div>
    <div class="use_lang">
        <h2 lang="en">hello everyone</h2>
        <h2 lang="fr">hello everyone</h2>
        <h2 lang="de">hello everyone</h2>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="userSignUp()">
        <div style="text-align: center">
          <h1> form</h1>
        </div>
        <div class="form-group" style="margin-right: 200px; margin-left: 200px;margin-bottom: 20px;">
          <div class="my-1 form-control">
              <label>Name:</label>
               <input class="input1" type="text" formControlName="name" required />
            </div>
        </div>
        <div class="form-group" style="margin-right: 200px; margin-left: 200px;margin-bottom: 20px;">
            <div class="my-1 form-control">
                <label>Lname:</label> 
                <input class="input1" type="text" formControlName="lastname" value="readonly" readonly></div>
          </div>
        <div class="form-group" style="margin-right: 200px; margin-left: 200px;margin-bottom: 20px;">
          <div class="my-1 form-control">
              <label>Email:</label> 
              <input class="input1" type="email" formControlName="email" required /></div>
        </div>
    
        <div class="form-group" style="margin-right: 200px; margin-left: 200px;margin-bottom: 20px;">
          <div class="my-1 form-control">
              <label>Age:</label>
               <input class="input1" type="text" formControlName="age" required pattern /></div>
        </div>
        
        <div class="form-group" style="margin-right: 200px; margin-left: 200px;margin-bottom: 20px;">
         <label> Gender:</label>
          <input type="radio" value="male" checked formControlName="gender" /><label>Male</label> 
          <input type="radio" value="female" formControlName="gender" /> <label>Female</label>
        </div>
        <div class="form-group" style="margin-right: 200px; margin-left: 200;margin-bottom: 20px;">
          <button type="submit" class="btn btn-primary my-1"> submit</button>
        </div>
    </form>
        <div class="target">
            <ul>
                <li><a class="subject" href="#html">html</a></li>
                <li><a class="subject" href="#css">css</a></li>
                <li><a class="subject" href="#js">js</a></li>
            </ul>
        </div>
        <div>
            <h4 id="html">html: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, laudantium!</h4>
            <h4 id="css">css: Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, quo.</h4>
            <h4 id="js">js: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, sequi?</h4>
        </div>
        <div>
            <div>
                <h2>css attribute selector</h2>
            </div>
            <div class="atribute">
               <h1 class="abc"> hello</h1>
               <h1 class="abc1">khyati</h1>
               <h1 class="2abc">bhavin</h1>
            </div>
        </div>
        <div class="atribute1">
            <h1 class="abc"> hello</h1>
            <h1 class="abc 12">khyati</h1>
            <h1 class="2abc12">bhavin</h1>
         </div>
         <div class="combinator">
             <span>hello</span>
             <p>Lorem, ipsum dolor<span>hello everyone</span> sit amet consectetur adipisicing elit. Ad consequatur temporibus distinctio molestiae ullam deleniti?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, dolore.</p>
            </div>
            <div class="  direct_child">
            <h2>direct child selector</h2>
            <div>
                <ul class="a123">
                    <li>khyati</li>
                    <li>khyati</li>
                    <li>khyati</li>
                    <li>khyati</li>
                    <ul class="a123">
                        <li>lhyati</li>
                        <li>khyati</li>

                        <li>khyati</li>

                    </ul>
                    <li>khyati</li>
                </ul>
            </div>
            </div>
            <div class="sibiling_selector">
                <h2>sibiling selector</h2>
                <div>
                    <h4>hello</h4>
                    <h4>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum, delectus?
                        <span>
                            <h3>helllo</h3>
                        </span>
                    </h4>
                </div>
            </div>
            <div class="general_sibiling">
                <h2>
                    general sibling selector
                </h2>
                    <ul><li>khyati</li>
                    <li>khyati</li>
                    </ul>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, veritatis!</h4>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quidem!</h4>
                <div>
                    <h5>hello everyone</h5>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                    <h4>Lorem ipsum dolor sit amet.</h4>
                </div>
            </div>
            <div class="simple_selector">
                <div>
                    <h2>using id</h2>
                </div>
                <div>
                    <h3 id="abc">khyati</h3>
                    <h3 id="abc1">khyati</h3>
                </div>
                <div>
                    <h2>using class</h2>
                </div>
                <div>
                    <h3 class="abc">khyati</h3>
                    <h3 class="abc1">khyati</h3>
                </div>
                <div>
                    <h2>using element</h2>
                </div>
                <div>
                    <h3 id="abc2">khyati</h3>
                    <h3 id="abc1">khyati</h3>
                </div>
                <div>
                    <span>
                        <h3>khyati</h3>
                    </span>
                </div>
            </div>        
      
</body>
</html>
