body{
margin: 0;
padding: 0;
}
.main{
    width: 100%;
    height: 200px;
    background-color: blue;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    h2{
        text-shadow: 0 2px 5px rgba(0,0,0,0.5);
        font-size: 35px;
        &::before{
            content: "java";
            display: block;
        }
        &::after{
            content: "python";
            display: block;
        }
    }
}

.home{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
    li{
        list-style: none;
        a{
            position: relative;
            display: block;
            padding: 10px 20px;
            margin: 20px 0;
            text-decoration: none;
            font-weight: bold;
            color: black;
            transition: 0.5s;
            font-size: 30px;
            &:hover{
                color: white;
            }

            
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
                transform: scaleY(2);
                opacity: 0;
                transition: 0.5s;
                z-index: -1;
            }
            &:hover::before{
                transform: scaleY(1);
                opacity: 1;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                transform: scale(0);
                transition: 0.5s;
                z-index: -1;
            }
            &:hover::after{
                transform: scale(1);
            }
            
        }
    }
}
.first_ch{
    width: 100%;
    height: 120px;
    margin-top: 220px;
    .ul{
        color: rgb(4, 19, 65);
        font-size: 20px;
        .li{
            &:first-child{
                font-weight: bold;
                font-style: italic;
            }
            &:last-child{
                color: seagreen;
            }
            &:nth-child(3){
                color: slateblue;
            }
            &:nth-last-child(2){
                color: slategray;
            }
        }
    }
}
.n_child{
    width: 100%;
    height: 120px;
    margin-top: 20px;
    .ul{
        color: rgb(4, 19, 65);
        font-size: 20px;
        .li{
            &:nth-child(2n){
                color: slateblue;
            }
                &:nth-last-child(2n-1){
                    background-color: rgb(212, 132, 148);
            }
        }
    }
}
p{
    &:first-child{
        color: darkblue;
    }
    &:last-of-type{
        background-color: darkslateblue;
    }
}
.li{
    &:only-child{
        color: darkgray;
    }

}
div{
    &:empty{
        border: 1px solid black;
    }
}
.use_lang{
    h2{
        &:lang(en){
            color: cadetblue;
        }
        &:lang(fr){
            color: rgb(50, 112, 114);
        }
        &:lang(de){
            color: rgb(20, 73, 75);
        }
    }
}
 
    input {
        &:focus {
            border: 1px solid blue;
        }
        &:valid {
            background-color:  #b9f179;
        }
        &:invalid {
            background-color: rgb(253, 201, 201);
            border: 1px solid red;
        }
        &:checked  {
            width: 20px;
            height: 20px;
        }
        &:checked{
        & + label {
            color: rgb(8, 8, 75);
        }
    }
        
        &:read-only{
            background-color: rgb(250, 250, 170);
            border: 1px solid rgb(240, 168, 81);
            color: gray;
        }
    }
    label{
        color: darkcyan;
        font-size: 20px;
        margin-right: 90px;
    }
    .input1{
        width: 250px;
        height: 30px;
        border-radius: 6px;
    }
    button{
        width: 100px;
        height: 30px;
        border-radius: 10px;
        background-color: rgb(10, 2, 46);
        color: white;
        font-size: 15px;
        cursor: pointer;
        margin-left: 400px;

    }
    h2{
        background-color: lightgreen;
    }
    .target{
        margin-top: 20px;
        .subject{
            color: red;
            text-decoration: none;
            font-size: 20px;
        }
    }
    h4{
        &:target{
            color: cadetblue;
        }
    }
    .atribute{
        h1[class]{
            color: cadetblue;
        }
        h1[class= "abc"]{
            background-color: rgb(160, 100, 184);
        }
        h1[class^= "abc"]{
            border: 1px solid red;
        }
        h1[class*= "abc"]{
            font-style: italic;
        }

    }
    .atribute1{
        h1[class$="12"]{
            color: cornflowerblue;
        }
        h1[class~="abc"]{
            background-color: crimson;
        }
    }
    .combinator {
        p{
            color: darkcyan;
        }
    }
    div{
        p{
            span{
                color: green;
            }
        }
    }
    .a123{
        color: red;
    }
    .a123{

        & > ul{
        color: green;
        }
    }
    .sibiling_selector{
        h4{
            &+h4{
                color: hotpink;
            }
        } 
    }
    .general_sibiling{
        ul{
            &~h4{
                color: red;
            }
        }
        h5{
            font-size: 20px;
            &~h4{
                color: rgb(42, 20, 121);
            }
        }
    }
    .simple_selector{
        #abc{
            color: lightseagreen;
        }
        .abc1{
            color: lightseagreen;
        }
        span{
            h3{
                color: lightskyblue;
            }
        }
    }