<!--<app-information></app-information>
<app-sevices></app-sevices>
<app-home></app-home>
<app-jobfair></app-jobfair>
<app-pseudoelement></app-pseudoelement>
<app-learncss></app-learncss>-->
<!-- <div class="navbar"> -->
    <!-- <ul class="component">
      <li> <a routerLink="jobfair" routerLinkActive="active" class="jobfair_component">jobfair</a></li>
      <li>  <a routerLink="learncss" routerLinkActive="active" class="learncss_component" > css</a></li>
      <li>  <a routerLink="pseudo" routerLinkActive="active" class="pseudo_component" > pseudo</a></li>

    </ul>
  </div>
<router-outlet></router-outlet> -->
<!-- <app-learncss></app-learncss> -->
<app-pseudoelement></app-pseudoelement>