
<div class="container">
    <h2>Position</h2>
<div class="absolute" id="box">Absolute</div>
<div class="relative" id="box">Relative</div>
<div class="fixed" id="box">Fixed</div>
<div class="sticky" id="box">Stickey</div>
</div>
<h2>transform ,visibility and z-index</h2>
<div class="container1"> 
    <div class="rotate" id="box1">Rotate</div>
    <div class="skew" id="box1">Skew</div>
    <div class="scale" id="box1">Scale</div>
    <div class="visibility" id="box1">Visibility</div>
    <div class="translate" id="box1">Translate</div>
    <div class="translatex" id="box1">TranslateX</div>
    <div class="translatey" id="box1">TranslateY</div>
</div>
<h2>opacity</h2>
<div class="images">
    <div class="container2">
        <div class="imagess">
            <img src="https://images.unsplash.com/photo-1622737133809-d95047b9e673?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2ltcGxlJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80">
        </div>
        <div class="imagess">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_LPKjhDlWOOuuda8SnHUDx5wTNmEXoB79Jg&usqp=CAU">
        </div>
        <div class="imagess">
            <img src="https://image.shutterstock.com/image-photo/keep-simple-word-wooden-blocks-260nw-1604630542.jpg">
        </div>
    </div>
</div>
<h2>box shadow and text shadow</h2>
<div class="container3">
    <div class="card1" id="cardd">
        <h2>card1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit aperiam labore in. Eum dolorem ratione praesentium illum quod corrupti similique.</p>

    </div>
    <div class="card2" id="cardd">
        <h2>card2</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit aperiam labore in. Eum dolorem ratione praesentium illum quod corrupti similique.</p>
        
    </div>
    <div class="card3" id="cardd">
        <h2>card3</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit aperiam labore in. Eum dolorem ratione praesentium illum quod corrupti similique.</p>
        
    </div>
    <div class="card4" id="cardd">
        <h2>card4</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit aperiam labore in. Eum dolorem ratione praesentium illum quod corrupti similique.</p>
        
    </div>
    <div class="card5" id="cardd">
        <h2>card5</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit aperiam labore in. Eum dolorem ratione praesentium illum quod corrupti similique.</p>
        
    </div>
</div>







<h2>white-space</h2>
<div class="whitespace">
    <p>
        Lorem ipsum dolor sit amet consectetur,
         adipisicing elit. Veritatis sunt libero fac  ilis a, 
          rem hic cum magni obcaecati sequi neque     perferendis 
              odio fugiat ab aliquam aut earum explicabo.
    </p>
</div>

