.row{
    background-color: lightskyblue;

}
.body{
    display: flex;
    flex: 2;
    
}
.col-md-6{
    margin-right: 50px;
    margin-left: 10px;
}
.btn{
    background-color: mediumblue;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    height: 20px;
    margin-bottom: 20px;
}