<div class="navbar">
  <ul class="component">
    <li> <a routerLink="/basic" routerLinkActive="active" class="basic_component">basic</a></li>
    <li>  <a routerLink="/reactiveform" routerLinkActive="active" class="reactive_component" > reactiveform</a></li>
    <li>  <a routerLink="/service" routerLinkActive="active" class="service_component" > service</a></li>
    <li>  <a routerLink="/aboutus" routerLinkActive="active" class="aboutus_component" > aboutus</a></li>
  </ul>
</div>


<router-outlet></router-outlet>